<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body: {
            color: black;
        }
    </style>
  </head>
  <body>
    <div style="width: 100%; background-image: url('cid:background'); background-repeat: no-repeat;">
      <img src="cid:logo" width="400px" style="display: flex; margin-left: auto; margin-right: auto; padding-top: 100px;" />
      <div style="width: 45%; margin-left: auto; margin-right: auto;">
        <p>
          Hey {{name}}!
        </p>

        <p>
          I hope this email sleighs you with joy! 'Tis the season to be merry, and we are putting together an epic Secret Santa extravaganza. You, my friend, are cordially invited to join in on the festive fun!
          Hold onto your stockings because here are the deets:
        </p>

        <p>
          🎅 {{eventName}}
        </p>
        <p>
          📆 {{eventDate}}
        </p>

        <p>
          Let's get down to business - Secret Santa style! In case you're not familiar with this holly jolly tradition, here's the scoop: each person will be handed a name out of Santa's mystical hat and become their very own gift-giver extraordinaire. You'll surprise them with a present that will make their heart sing Christmas carols!
        </p>

        <p>
          To secure your spot among Santa's little helpers, please RSVP clicking on this link:
        </p>
        <a href="{{inviteUrl}}">{{inviteUrl}}</a>

        <p>
          If you're able to come, you'll receive access to fill out your own wish list with gift ideas that would make you say, "Oh, deer, it's perfect!" Once everyone has completed their lists, we'll send out a second email revealing who you'll be hunting down the perfect present for.
        </p>

        <p>
          Get ready for an unforgettable night full of laughter, surprises, and maybe even an appearance by Santa himself (JK, it's probably just one of our mischievous friends in a red suit)!
        </p>

        <p>
          Looking forward to having you ho-ho-hop on board! 'Tis the season to spread joy and have Fa-la-la-la-fabulous festive fun, so let's Secret Santa our socks off!
        </p>

        <p>
          With sugar, spice, and all things nice,
        </p>

        <p>
          {{ownerName}}
        </p>
      </div>
  </body>
</html>
